@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 0.0rem;
  height: 0.0rem;
}

.innger-bg-geo {
  background: rgb(255, 255, 255);
  /* background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, #020617 100%), linear-gradient(180deg, #020617 0%, rgba(0, 212, 255, 0) 100%); */
  background: radial-gradient(circle, rgba(2, 6, 23, 0) 0%, #020617 100%), linear-gradient(180deg, rgba(2, 6, 23, 1) 0%, rgba(2, 6, 23, 0) 50%, rgba(2, 6, 23, 1) 100%);
  object-fit: scale-down;
  /* width: 1920px; */
  /* height: 1080px; */
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
}



/* bongo cat 2 */

/* body {
  height: 100vh;
  width: 100vw;
  background: var(#1a1e2d);
  display: flex;
  place-content: center;
  align-items: flex-end;
  overflow: hidden;
} */

/* .container {
  width: 80vw;
  height: 80vh;
} */
/* .container svg {
  height: 100%;
  width: 100%;
  overflow: visible;
} */

#bongo-cat {
  /* fill: var(#1a1e2d); */
  /* stroke-linecap: round; */
  /* stroke-linejoin: round; */
  /* stroke-width: 4; */
}

#bongo-cat .laptop-cover,
#bongo-cat .headphone .band {
  /* fill: none; */
}

#bongo-cat .paw,
#bongo-cat .head {
  /* stroke: var(#ffcc81); */
}

#bongo-cat .laptop-keyboard {
  /* stroke-width: 2; */
}

#bongo-cat .terminal-code {
  /* stroke-width: 5; */
}

#bongo-cat .music .note,
#bongo-cat .laptop-base,
#bongo-cat .laptop-cover,
#bongo-cat .paw .pads {
  /* stroke: var(#ff61d8); */
}

#bongo-cat .table line,
#bongo-cat .headphone .band,
#bongo-cat .headphone .speaker path:nth-child(3) {
  /* stroke: var(#a5ea9b); */
}

#bongo-cat .terminal-frame,
#bongo-cat .laptop-keyboard,
#bongo-cat .headphone .speaker path:nth-child(2) {
  /* stroke: var(#569cfa); */
}

#bongo-cat .terminal-code,
#bongo-cat .headphone .speaker path:first-child {
  /* stroke: var(#7ed1e2); */
}
